---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'carriers'>['data'];

const { frontmatter } = Astro.props;
console.log(frontmatter)
---

<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.carrier-info + .carrier-info {
				margin-top: 1rem;
			}
			p {
				margin: 0;
			}
			p + p {
				margin-top: .5rem;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{frontmatter.companyInformation.carrierLogo && <img src={frontmatter.companyInformation.carrierLogo} alt="" />}
				</div>
				<div>
					<div class="title">
						<h1>{frontmatter.title}</h1>
					</div>
					<section>
						<h2>Company Information</h2>
						<div class="carrier-info">
							<h3>Administrative Office Mailing Address</h3>
							<p>{frontmatter.companyInformation.adminMailingAddress.addressLine1}</p>
							{frontmatter.companyInformation.adminMailingAddress.addressLine2 && (
								<p>{frontmatter.companyInformation.adminMailingAddress.addressLine2}</p>
							)}
						</div>
						<div class="carrier-info">
							<h3>Overnight Mailing Address</h3>
							<p>{frontmatter.companyInformation.overnightMailingAddress.addressLine1}</p>
							{frontmatter.companyInformation.overnightMailingAddress.addressLine2 && (
								<p>{frontmatter.companyInformation.overnightMailingAddress.addressLine2}</p>
							)}
						</div>
						<div class="carrier-info">
							<h3>Broker Support</h3>
							<p>
								<strong>Phone: </strong>{frontmatter.companyInformation.brokerSupport.phone}
							</p>
							<p>
								<strong>Email: </strong>{frontmatter.companyInformation.brokerSupport.email}
							</p>
							<p>
								<strong>Fax</strong>{frontmatter.companyInformation.brokerSupport.fax}
							</p>
						</div>
					</section>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
